In [110]:
import pandas as pd
import spacy
from fuzzywuzzy import process

In [111]:
def get_matches(query,choise):
    result=process.extractOne(query,choices=choise)
    return result

In [112]:
data2=pd.read_excel("tossend.xlsx")
data=pd.read_excel("tossend.xlsx",sheet_name=1)

In [113]:
data2.reset_index(drop=True,inplace=True)
data.reset_index(drop=True,inplace=True)

In [114]:
print(data.head())
print(data2.head())

  county     name
0      A   Lusone
1      A  Z Dabid
2      B   Lusine
3      C      Lus
4      C    David
  adcounty  adname
0        A  Lusine
1        A   David
2        B   Lusne
3        C  Lusine
4        C     Dad

In [115]:
def get_matches(query,choise,limit=10):
    result=process.extract(query,choise,limit=limit)
    return result

In [116]:
new=[]
for i in range(len(data)):
    z=get_matches(data["name"][i],data2.adname.tolist())
    top=[i for  i in z if i[1]>80]
    new.append(top)
    #z2=get_matches(data["country"][i],data2.adname.tolist())

In [117]:
countries=[]
for i in new:
    
    v=[]
    for j in i:
        indexes=data2[data2['adname']==j[0]].index
        values=data2.iloc[indexes,0].values
        print(values)
        v.append(values)
    countries.append(v)

['B']
['A' 'C']
['A' 'C']
['A' 'C']
['A' 'C']
['B']
['A' 'C']
['B']
['A' 'C']
['A']
['A']
['B']

In [118]:
ADcountries=[]
for  i in countries:
    z=[]
    for j in i:
        z.append(j[0])
    ADcountries.append(z)

In [119]:
data["Similar"]=new

In [120]:
data["adcountry"]=countries

In [121]:
data

,county,name,Similar,adcountry
0,A,Lusone,"[(Lusne, 91), (Lusine, 83), (Lusine, 83)]","[[B], [A, C], [A, C]]"
1,A,Z Dabid,[],[]
2,B,Lusine,"[(Lusine, 100), (Lusine, 100), (Lusne, 91)]","[[A, C], [A, C], [B]]"
3,C,Lus,"[(Lusine, 90), (Lusne, 90), (Lusine, 90)]","[[A, C], [B], [A, C]]"
4,C,David,"[(David, 100)]",[[A]]
5,A,Par,"[(Pari, 86)]",[[A]]
6,B,s Paramdajem,"[(s Paem, 86)]",[[B]]

In [122]:
data["county"][1]==data["adcountry"][1]

False

In [123]:
data

,county,name,Similar,adcountry
0,A,Lusone,"[(Lusne, 91), (Lusine, 83), (Lusine, 83)]","[[B], [A, C], [A, C]]"
1,A,Z Dabid,[],[]
2,B,Lusine,"[(Lusine, 100), (Lusine, 100), (Lusne, 91)]","[[A, C], [A, C], [B]]"
3,C,Lus,"[(Lusine, 90), (Lusne, 90), (Lusine, 90)]","[[A, C], [B], [A, C]]"
4,C,David,"[(David, 100)]",[[A]]
5,A,Par,"[(Pari, 86)]",[[A]]
6,B,s Paramdajem,"[(s Paem, 86)]",[[B]]

In [124]:
data['NAME_COUNTRY']=None
for i in range(len(data)):
    for indexes,j in enumerate(data["adcountry"][i]):
        try:
            v=next(z for z in j if z==data["county"][i])
            print(v,i,indexes)
            data['NAME_COUNTRY'][i]=data['Similar'][i][indexes][0],v
            if len(z)>0:
                #
                break
        except:
            continue

A 0 1
B 2 2
C 3 0
A 5 0
B 6 0

In [125]:
data2["ID_WE_WANT_TO_GET"] = ["Code1","Code2","Code3","Code4","Code5","Code6","Code7"]

In [126]:
data2

  adcounty  adname ID_WE_WANT_TO_GET
0        A  Lusine             Code1
1        A   David             Code2
2        B   Lusne             Code3
3        C  Lusine             Code4
4        C     Dad             Code5
5        A    Pari             Code6
6        B  s Paem             Code7

In [127]:
data.NAME_COUNTRY=data.NAME_COUNTRY.apply(lambda x:'{},{}'.format(x[0], x[1]) if x is not None else None)

In [128]:
data1=pd.concat([data,data.NAME_COUNTRY.str.split(',',expand=True)],1)

In [129]:
data1.rename(columns={0: "adname", 1: "adcounty"},inplace=True)

In [157]:
data1.merge(data2, on=['adname', 'adcounty'],how='left')

,county,name,Similar,adcountry,NAME_COUNTRY,adname,adcounty,ID_WE_WANT_TO_GET
0,A,Lusone,"[(Lusne, 91), (Lusine, 83), (Lusine, 83)]","[[B], [A, C], [A, C]]","Lusine,A",Lusine,A,Code1
1,A,Z Dabid,[],[],None,None,None,NaN
2,B,Lusine,"[(Lusine, 100), (Lusine, 100), (Lusne, 91)]","[[A, C], [A, C], [B]]","Lusne,B",Lusne,B,Code3
3,C,Lus,"[(Lusine, 90), (Lusne, 90), (Lusine, 90)]","[[A, C], [B], [A, C]]","Lusine,C",Lusine,C,Code4
4,C,David,"[(David, 100)]",[[A]],None,None,None,NaN
5,A,Par,"[(Pari, 86)]",[[A]],"Pari,A",Pari,A,Code6
6,B,s Paramdajem,"[(s Paem, 86)]",[[B]],"s Paem,B",s Paem,B,Code7