In [1]:
import pandas as pd
import spacy
from fuzzywuzzy import process

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [151]:
def get_matches(query,choise):
    result=process.extractOne(query,choices=choise)
    return result

In [152]:
data2=pd.read_excel("tossend.xlsx")
data=pd.read_excel("tossend.xlsx",sheet_name=1)

In [153]:
data2.reset_index(drop=True,inplace=True)
data.reset_index(drop=True,inplace=True)

In [154]:
print(data.head())
print(data2.head())

  county     name
0      A   Lusone
1      A  Z Dabid
2      B   Lusine
3      C      Lus
4      C    David
  adcounty  adname
0        A  Lusine
1        A   David
2        B   Lusne
3        C  Lusine
4        C     Dad

In [155]:
def get_matches(query,choise,limit=10):
    result=process.extract(query,choise,limit=limit)
    return result

In [156]:
new=[]
for i in range(len(data)):
    z=get_matches(data["name"][i],data2.adname.tolist())
    top=[i for  i in z if i[1]>80]
    new.append(top)
    #z2=get_matches(data["country"][i],data2.adname.tolist())

In [157]:
new

[[('Lusne', 91), ('Lusine', 83), ('Lusine', 83)],
 [],
 [('Lusine', 100), ('Lusine', 100), ('Lusne', 91)],
 [('Lusine', 90), ('Lusne', 90), ('Lusine', 90)],
 [('David', 100)],
 [('Pari', 86)],
 [('s Paem', 86)]]

In [158]:
data2.adcounty[1;3]

SyntaxError: invalid syntax (<ipython-input-158-3bdd9ae303c5>, line 1)

In [55]:
data2.iloc[0,0]

'A'

In [43]:
indexes=data2[data2['adname']=="Lusine"].index

data2.iloc[indexes,0]

2    A
5    C
Name: adcounty, dtype: object

In [165]:
countries=[]
for i in new:
    
    v=[]
    for j in i:
        indexes=data2[data2['adname']==j[0]].index
        values=data2.iloc[indexes,0].values
        print(values)
        v.append(values)
    countries.append(v)

['B']
['A' 'C']
['A' 'C']
['A' 'C']
['A' 'C']
['B']
['A' 'C']
['B']
['A' 'C']
['A']
['A']
['B']

In [160]:
z2=[]
for  i in countries:
    z=[]
    for j in i:
        z.append(j[0])
    z2.append(z)

[[('Lusne', 91), ('Lusine', 83), ('Lusine', 83)],
 [],
 [('Lusine', 100), ('Lusine', 100), ('Lusne', 91)],
 [('Lusine', 90), ('Lusne', 90), ('Lusine', 90)],
 [('David', 100)],
 [('Pari', 86)],
 [('s Paem', 86)]]

In [177]:
ADcountries=z2

In [181]:
ADcountries

[['B', 'A', 'A'], [], ['A', 'A', 'B'], ['A', 'B', 'A'], ['A'], ['A'], ['B']]

In [180]:
new

[[('Lusne', 91), ('Lusine', 83), ('Lusine', 83)],
 [],
 [('Lusine', 100), ('Lusine', 100), ('Lusne', 91)],
 [('Lusine', 90), ('Lusne', 90), ('Lusine', 90)],
 [('David', 100)],
 [('Pari', 86)],
 [('s Paem', 86)]]

In [182]:
data

  county          name
0      A        Lusone
1      A       Z Dabid
2      B        Lusine
3      C           Lus
4      C         David
5      A           Par
6      B  s Paramdajem

In [183]:
data2

  adcounty  adname
0        A  Lusine
1        A   David
2        B   Lusne
3        C  Lusine
4        C     Dad
5        A    Pari
6        B  s Paem

In [184]:
data.Similar=new

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [187]:
data["Similar"]=new

In [189]:
data["adcountry"]=countries

In [190]:
data

  county          name                                      Similar  adcountry
0      A        Lusone    [(Lusne, 91), (Lusine, 83), (Lusine, 83)]  [B, A, A]
1      A       Z Dabid                                           []         []
2      B        Lusine  [(Lusine, 100), (Lusine, 100), (Lusne, 91)]  [A, A, B]
3      C           Lus    [(Lusine, 90), (Lusne, 90), (Lusine, 90)]  [A, B, A]
4      C         David                               [(David, 100)]        [A]
5      A           Par                                 [(Pari, 86)]        [A]
6      B  s Paramdajem                               [(s Paem, 86)]        [B]

In [ ]:
for i in range(len(data)):
    if data["county"][i] is in data["county"][i]